@import "fuentes";
@import "generales";
@import "header";
@import "index";
@import "ropa";
@import "footer";
@import "contacto";

@media screen and (max-width:380px){
/* Inicio vista mobile */

    .titulo-principal{
        font-size: 20px;
    }
    .contenedor-flexbox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 20px 20px;
        background-color: aliceblue;
}
    .caja{
        height: 150px;
        width: 150px;
        line-height: 150px;
    }
    .ropa{
        font-size: 20px;
    }
    .contenedor-secundario{
        text-align: center;
        padding: auto;
        margin: 50px;

    }
    .titulo-secundario{
        font-size: 17px;
    }
    .parrafo-secundario{
        font-size: 12px;
    }
    .logo-footer{
        width: 11px;
        height: 11px;
    }
    .titulo-final{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif
    }

    /* Zapatillas e Indumentaria vista Mobile */

    .titulo-seccions{
        font-size: 30px;
    }
    .row{
        grid-template-columns: auto auto;
        margin: auto;
        border: none;

    }
    .estilo .imagen-container img{
        width: 100px;
        height: 80px;
    }
    .estilo p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 9px;
        text-align: center;
    }
}
@media(min-width: 700px) {
    .body_contacto {
        padding: 60px 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
@media screen and (max-width:1024px){
    /* INICIO */
    .titulo-principal{
        font-size: 45px;
    }
    .contenedor-flexbox{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: azure;
    }
    .caja{
        height: 250px;
        width: 250px;
        line-height: 250px;
    }
    .ropa{
        font-size: 30px;
    }
    .contenedor-secundario{
        text-align: center;
        margin: 50px;
        padding: 80px;

    }
    .titulo-secundario{
        font-size: 25px;
    
    }
    .parrafo-secundario{
        font-size: 12px;
    }
    .logo-footer{
        width: 30px;
        height: 30px;
    }
    .titulo-final{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif
    }

    /* Zapatillas e Indumentaria */
    .titulo-seccions{
        font-size: 40px;
    }
    .row{
        grid-template-columns: auto auto ;
        margin: auto;
        border: solid 1px black;
        border-style: outset;

    }
    .estilo .imagen-container img{
        width: 60%;
        height: 60%;
    }
    .estilo p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        text-align: center;
    }
}